# Optional tldraw SDK license key for a public production deployment.
# Review the current tldraw license terms before publishing the canvas commercially.
# This value is embedded into the frontend build and is not an API secret.
VITE_TLDRAW_LICENSE_KEY=
